{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block contenido %}

<div class="container">

<div style="float:right; margin-top: 10px;">

    <!-- carrito -->

    {% include "carro/widget.html" %}

</div>
<div class="row"> <!-- my-2 -->

{% for producto in productos %}

    <div class="col-md-4">

            <div class="card" style="width: 100%; margin: 10px 10px;">
                  
                <img src="{{producto.imagen.url}}" class="card-img-top" style="height: 200px;">

                
                  <div class="card-body">
                        <h6 class="card-tittle text-center"><strong>{{producto.nombre}}</strong></h6> 
                        <p class="card-text text-right">{{producto.precio}}&nbsp;ARS</p>
                  </div> <!-- card-body cerrada-->

                  <div class="card-footer text-center">

                        <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success" style="background-color: #0D2B49; border-color: #0D2B49;">Agregar al carrito</a>
                  </div>

            </div> <!-- card cerrada-->
    </div>
    
{% endfor %}
</div>     <!-- row cerrada-->
   
</div> <!-- conteiner cerrada-->


{% endblock %}