
<style>
   
    .floating-button {
        position: fixed;
        bottom: 20px;
        right: 20px; 
        width: 60px;
        height: 60px;
        background-color: #007bff; 
        color: white; 
        border-radius: 50%; 
        text-align: center;
        line-height: 60px; 
        font-size: 24px; 
        cursor: pointer;
        z-index: 1000; 
        transition: background-color 0.3s ease;
    }
    
  
    .floating-button.active {
        background-color: #dc3545; 
    }
    

    #carrito-container {
        display: none;
        position: fixed;
        top: 60px;
        right: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px;
        border-radius: 15px;
        z-index: 1000;
        max-width: 300px;
        color: rgba(255, 255, 255, 0.5);
        font-family: 'Helvetica';
    }
    
    #carrito-container table {
        margin-bottom: 0;
    }
    
    #carrito-container tbody {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 100px;
    }
    
    #carrito-container .text-center {
        text-align: center;
    }
    
    #carrito-container .alert {
        margin-bottom: 0;
    }
    
    #carrito-container .button {
        font-family: 'Helvetica';
    }
    
    #carrito-container .transparente {
        visibility: hidden;
    }
</style>


<div class="floating-button" id="floatingButton">
    <i class="fas fa-shopping-cart">Carrito</i>
</div>


<div id="carrito-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="3" class="text-center">Carrito de Compras</th>
            </tr>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Suma</th>
            </tr>
        </thead>

        <tbody>
            {% if request.session.carro.items %}
                {% for key, value in request.session.carro.items %}
                    <tr class="text-center">
                        <td>{{ value.nombre }}</td>
                        <td>{{ value.cantidad }}</td>
                        <td>
                            <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                            <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm btn-success">-</a><br>
                            {{ value.precio }} $
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">
                        <div class="alert alert-danger text-center">
                            ¡No hay productos en el carro!
                        </div>
                    </td>
                </tr>
            {% endif %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3">
                    Total: {{ importe_total_carro }} $
                </td>
            </tr>
            <tr>
                <td colspan="3" class="text-center">
                    <form id="formVaciarCarro" method="post" action="{% url 'carro:limpiar' %}">
                        {% csrf_token %}
                        <button type="submit" class="button">Comprar</button>
                    </form>
                    <h8 class="transparente">texto invisible</h8>
                    <form id="formVaciarCarro" method="post" action="{% url 'carro:limpiar' %}">
                        {% csrf_token %}
                        <button type="submit" class="button">Limpiar Carrito</button>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
document.addEventListener('DOMContentLoaded', function() {
    var carritoContainer = document.getElementById('carrito-container');
    var floatingButton = document.getElementById('floatingButton');

    
    floatingButton.addEventListener('click', function() {
        toggleCarrito();
    });

    
    function toggleCarrito() {
        if (carritoContainer.style.display === 'none' || carritoContainer.style.display === '') {
            carritoContainer.style.display = 'block';
            floatingButton.classList.add('active'); 
        } else {
            carritoContainer.style.display = 'none';
            floatingButton.classList.remove('active'); 
        }
    }

 
    function vaciarCarro() {

    }

    
    function mostrarMensaje() {
        Swal.fire({
            icon: 'success',
            title: '¡Compra realizada con éxito!',
            showConfirmButton: true
        }).then(function(result) {
            
            configurarEventoRealizarOrden();
        });
    }

    
    function configurarEventoRealizarOrden() {
        var btnRealizarOrden = document.getElementById('formVaciarCarro');
        if (btnRealizarOrden) {
            btnRealizarOrden.addEventListener('click', function(event) {
                event.preventDefault(); 

                
                vaciarCarro();

                
                mostrarMensaje();
            });
        }
    }

   
    configurarEventoRealizarOrden();
});
</script>
