{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'ProyectoWebApp/css/gestion.css' %}">
{% block contenido %}
<section class="home">
    <video autoplay muted loop id="bgVideo">
        <source src="{% static 'ProyectoWebApp/video/video1.mp4' %}" type="video/mp4">
    </video>
    <div class="form_container">
        <i class="uil uil-times form_close"></i>
    </div>

    <div class="contenedorFormulario" style="font-variant: normal; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px; width: 50%; text-align: center;">
        {% if messages %}
            {% for mensaje in messages %}
                <span style="text-decoration: none; color: #ffffff; font-family: 'Helvetica'; font-size: larger; display: block; margin-bottom: 10px;">{{ mensaje }}</span>
            {% endfor %}
        {% endif %}

        <form action="" method="post" style="color: white;">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="button" >¡Registrarse!</button>
        </form>
    </div>
</section>
{% endblock %}

