<html>

<head>
<body>
    
    {% load static %}

   
    <link href="{% static 'ProyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    
    <link rel="stylesheet" href="{% static 'ProyectoWebApp/css/gestion.css' %}">
    <link rel="stylesheet" href="{% static 'ProyectoWebApp/css/Footer.css' %}">
    <link rel="stylesheet" href="{% static 'ProyectoWebApp/css/styleinicio.css' %}">
</head>


<header class="header">
  <nav class="nav">
    <a style="font-family: Poppins, sans-serif; text-decoration: none;" href="{% url 'Home' %}" class="nav_logo">AUTOS DEL MAR</a>
    <ul class="nav_items">
        <li class="nav_item">
            <a style="font-family: Poppins, sans-serif; text-decoration: none;" href="{% url 'Home' %}" class="nav_link">Inicio</a>
            <a style="font-family: Poppins, sans-serif; text-decoration: none;" href="{% url 'Tienda' %}" class="nav_link">Vehiculos</a>
            
            {% if user.is_authenticated %}
            ¡Bienvenido, {{ user.username }}! &nbsp; &nbsp;
            <a class="button" style="text-decoration: none;" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
        {% else %}
            <a class="button" href="{% url 'logeo' %}" style="text-decoration: none;">Login</a> &nbsp;
            <a class="button" href="{% url 'Autenticacion' %}" style="text-decoration: none;">Registrate</a>
        {% endif %}
    
        </li>
    </ul>
</nav>
</header>
  



  {% block contenido %}





  {% endblock %}




 <footer>
        <div class="container">
            <div class="footer-content">
              <h3 style="font-family: Poppins, sans-serif;" >Contactanos</h3>
              <p style="font-family: Poppins, sans-serif;">Email:Autosdelmar@mar.cl</p>
              <p style="font-family: Poppins, sans-serif;">Telefono:+569001002003</p>
              <p style="font-family: Poppins, sans-serif;">Direccion:Santiago - Av. Departamental 4500</p>
            </div>
            <div class="footer-content">
                <h3 style="font-family: Poppins, sans-serif;">Liks Rapidos</h3>
                 <ul class="list">
                    <li><a style="font-family: Poppins, sans-serif; text-decoration: none; color: #ffffff; text-decoration: none; " href="{% url 'Home' %}">inicio</a></li>
                    <li><a style=" font-family: Poppins, sans-serif;text-decoration: none; color: #ffffff; text-decoration: none;" href="{% url 'Tienda' %}">Vehiculos</a></li>
                    
                    
                 </ul>
            </div>
            <div class="footer-content">
                <h3 style="font-family: Poppins, sans-serif;">Siguenos</h3>
                </div>
        </div>
        <div class="bottom-bar">
            <p style="font-family: Poppins, sans-serif;">&copy; 2024 AUTOS DEL MAR . All rights reserved</p>
            {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'admin:index' %}" class="button">Ir al Administrador</a>
    {% url 'lista_autos' as lista_autos_url %}
    <p>URL generada: {{ lista_autos_url }}</p>
    <a href="{{ lista_autos_url }}" class="button">agregar Autos</a>
{% endif %}
        </div>
      </footer>

   
   

</body>

</html>
